body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.screen {
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.screen.active {
  display: flex;
}

.soft {
  background: #f7f2f2;
}

.text {
  color: #d6a6b0;
  font-size: 20px;
  text-align: center;
  line-height: 1.6;
}

.text.small {
  font-size: 16px;
  margin-top: 10px;
}

.choices {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

button {
  background: none;
  border: none;
  color: #cfa1ac;
  font-size: 16px;
  cursor: pointer;
}

button.no {
  opacity: 0.6;
}

.envelope {
  width: 220px;
  margin: 20px 0;
  cursor: pointer;
}

.hearts img {
  width: 80px;
  margin: 0 10px;
}

.final-img {
  width: 250px;
  margin-top: 20px;
}
.calendar-title {
  font-size: 26px;
  margin-bottom: 20px;
  color: #e8bdc7;
  text-shadow: 0 0 60px  rgba (255 , 111 , 145 ,0.5);
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  gap: 10px;
}

.calendar button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background: #ffd1dc;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s;
}

.calendar button:hover {
  transform: scale(1.1);
}
.birthday-date {
  background: #ff6f91 !important;
  color: white;
  font-weight: bold;
}
.birthday-text {
  font-size: 42px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;

  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #ff4da6,
    0 0 40px #ff4da6,
    0 0 60px #ff1493;

  animation: glowPulse 2s infinite alternate;
}

@keyframes glowPulse {
  from {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #ff4da6,
      0 0 20px #ff4da6,
      0 0 40px #ff4da6;
  }

  to {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #ff4da6,
      0 0 40px #ff1493,
      0 0 80px #ff1493;
  }
}
.confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
}

.confetti {
  position: absolute;
  width: 8px;
  height: 14px;
  opacity: 0.8;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-10vh) rotate(0deg);
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
  }
}
.floating-img {
  width: 250px;
  margin-top: 20px;
  border-radius: 12px;

  animation: float 3s ease-in-out infinite;
}

/* Smooth up-down motion */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-18px);
  }
  100% {
    transform: translateY(0px);
  }
}

.balloon-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

.balloon {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 55px;
  background: pink;
  border-radius: 50% 50% 50% 50%;
  animation: rise linear infinite;
}

.balloon::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 2px;
  height: 20px;
  background: #555;
  transform: translateX(-50%);
}

@keyframes rise {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-120vh);
  }
}

.letters-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

.flying-letter {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: #ff4da6;
  opacity: 0.7;
  animation: fly 6s linear forwards;
}

@keyframes fly {
  0% {
    transform: translateY(100vh) rotate(0deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(-10vh) rotate(360deg);
    opacity: 0;
  }
}